  	%html
  %head
    %title Kingsmen
    %meta{charset:"utf-8"}
    %meta{content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name:"viewport"}
    %link{href:"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700", rel:"stylesheet"}
    %link{href:"assets/plugins/jquery-ui/jquery-ui.min.css", rel:"stylesheet", type:"text/css"}
    %link{href:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/plugins/nice-select/css/nice-select.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/css/main.css", rel:"stylesheet", type:"text/css"}

  %body
    #idem-group-event
      .top-content
        .container
          %p IdemEvents
          %h2 Powerful event management 
            %br
            software.
          %a.btn.btn-main{href:"#"} GET STARTED FREE
            %img.icon-next-page{src:"assets/images/icon/icon-next-blue.png"}
      .bot-content.text-center
        .container
          %h3 Connect with thousands of attendees to 
            %br 
            improve efficiency, revenue, and loyalty.
          %p.margin.margin-bottom IdemEvents is an event management toolkit to engage & excite new guests, and increase 
            %br
            customer loyalty and satisfaction.
          .img.margin-bottom
            %img{src:"assets/images/img/img-dashboad.png"}
          .key-features.event
            %h3 Key Features
            %a{href:"#first-feature"} Event website builder
            %a{href:"#second-feature"} Online registration,  
              %br
              ticketing & payments
            %a{href:"#third-feature"} Contact & email 
              %br
              management 
            %a{href:"#third-feature"} Attendee Tracking
            %a{href:"#third-feature"} Detailed Analytics
            #first-feature.text-left
              .row
                .col-md-4
                  .img.margin-bottom
                    %img{src:"assets/images/customized.png"}
                  %h3 Event website builder
                  %p Promote your event, inform and engage your audience
                    %br
                    %br
                    Create a fully configurable event website with the website module that allows your event to be professionally displayed, marketed and promoted. Whether you need total control over look and feel, or just want to point-and-click your way to a professional website, the website module supports every type of user.
                .col-md-4
                  %label BUILT WITH GOOGLE ANALYTICS
                  %p.margin-bottom With dynamic and responsive layouts, a thing of beauty to impress your attendees, colleagues and/or clients.
                  %label AUTOMATED WORKFLOWS
                  %p Makes it easy to measure page views, clickthrough rates, conversion rates, demographic information, and so much more.  
                .col-md-4
                  %label INFORMATION RICH
                  %p.margin-bottom Organizers can publish and update event details so your attendees make informed decisions to enhance their event experience. 
            %hr
            #second-feature.text-left
              .row
                .col-md-4
                  .img.margin-bottom
                    %img{src:"assets/images/online-regist.png"}
                  %h3 Online registration, ticketing & payments
                  %p Maximize event registrations with our simple, yet powerful event registration software.
                .col-md-4
                  %label SAVE TIME
                  %p.margin-bottom Opening, entering and sorting out illegible or inaccurate forms can be very time consuming, eliminating manual registration saves hours per event.
                  %label GET PAID FASTER
                  %p Collect payments for tickets using your account or ours. Hassle free, secure transactions to help you sell more tickets.
                .col-md-4
                  %label INCREASED ATTENDANCE
                  %p Increase the volume of attendees by up to 20% because of the ease of access to ticketing.
            %hr
            #third-feature.text-left
              .row
                .col-md-4
                  .img.margin-bottom
                    %img{src:"assets/images/contact.png"}
                  %h3 Contact & email management
                  %p Manage, segment and engage contacts thanks to a smart event integrations with MailChimp contact management tool.
                .col-md-4
                  %label SORT CONTACTS
                  %p.margin-bottom Based on any criteria you choose. Updates in real time, making it easier to measure, manage and message them.
                  %label AUTOMATED COMMUNICATION
                  %p Set up reminders & marketing communications in advance to send at the times you dictate.
                .col-md-4
                  %label INTEGRATED WITH MAILCHIMP
                  %p The preeminent email platform to ensure you get the best deliverability, flexibility & reporting.  
            %hr
            #fourth-feature.text-left
              .row
                .col-md-4
                  .img.margin-bottom
                    %img{src:"assets/images/tracking.png"}
                  %h3 Attendee tracking
                  %p Instant visibility into who attended your event and what time arrived? Our simple, effective check-in management speeds up the process. No more sheets of paper and lengthy queues. 
                    %br
                    %br
                    You want your guests inside the event, not languishing out the front waiting for someone to find your name on a dozen sheets of paper. Speed up the process, a click of a scanner or a search for a name. Fast, accurate, simple.
                .col-md-4
                  %label FULL DIGITAL TRACKING
                  %p.margin-bottom No more untidy attendee lists to deal with
                  %label VIEW EVENT TRAFFIC
                  %p Realtime attendance tracking and reporting.
                .col-md-4
                  %label ONE-CLICK CHECK-IN
                  %p.margin-bottom Speed up registrations at the door, no more long queues
                  %label ONE LIST, MANY DEVICES
                  %p Multiple check-in stations or tablets to speed the process.
            %hr
            #fifth-feature.text-left
              .row
                .col-md-4
                  .img.margin-bottom
                    %img{src:"assets/images/analytics.png"}
                  %h3 Detailed analytics
                  %p Collating and measuring your event is a breeze with in IdemEvents. Our powerful reporting and analytics module mean you can measure every detail of your event to calculate your ROI. 
                    %br
                    %br
                    Dashboard Reporting: Our business intelligence dashboards are data visualization tools that displays the status, metrics and key performance indicators for each event. View the standard event reports that include, attendee reports, sales reports & marketing reports.
                .col-md-4
                  %label REAL-TIME TRACKING
                  %p.margin-bottom Instantly access Insightful reporting at any point during your event lifecycle.
                  %label CREATE REPORTS EASILY
                  %p Work smarter, not harder – save time, no more manually creating reports in various formats and aggregating data by hand.
                .col-md-4
                  %label BIRD'S EYE VIEW
                  %p Central data repository enable a holistic view of every data point.
    %section
      .banner-footer
        .oval-footer.text-center
          .d-tbl.height
            .d-tbl-cell
              %h3 Ready to get started?
              %p See what it's like to manage events & group reservations the 
                %br 
                easy way. Sign up for free now!
               %a.btn.btn-menu{href:"#"} SIGN UP FREE
                  %img.icon-next-page{src:"assets/images/icon/icon-next.png"}
               

  
%script{src:"assets/js/jquery-1.9.1.js", type:"text/javascript"}
%script{src:"assets/plugins/jquery-ui/jquery-ui.min.js", type:"text/javascript"}
%script{src:"assets/plugins/timepicker/jquery.timepicker.min.js", type:"text/javascript"}
%script{src:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", type:"text/javascript"}
%script{src:"assets/plugins/nice-select/js/jquery.nice-select.min.js", type:"text/javascript"}
%script{src:"assets/js/sofitel.js", type:"text/javascript"}