%html
  %head
    %title Kingsmen
    %meta{charset:"utf-8"}
    %meta{content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name:"viewport"}
    %link{href:"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700", rel:"stylesheet"}
    %link{href:"assets/plugins/jquery-ui/jquery-ui.min.css", rel:"stylesheet", type:"text/css"}
    %link{href:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/plugins/nice-select/css/nice-select.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/css/main.css", rel:"stylesheet", type:"text/css"}

  %body
    .section-banner
      %nav.menu-top
        %ul.menu-1
          %li.content-menu.dropdown{role:"presentation"}
            %a.dropdown-toggle{herf:"#", data-toggle:"dropdown", role:"button", aria-haspopup:"true", aria-expanded:"false"} Login 
            %ul.dropdown-menu
              %li.text-gray LOG IN AS: 
              %li
                %a{href:"#"} 
                  %img{src:"assets/images/icon/icon-login.png"}
                  %span Hotel Admin
              %li
                %a{href:"#"} 
                  %img{src:"assets/images/icon/icon-event.png"}
                  %span Event Organiz
              %li
                %a{href:"#"} 
                  %img{src:"assets/images/icon/icon-attendee.png"}
                  %span Attendee
          %li.content-menu
            %a{href:"#"} Support
        %ul.menu-2
          %li.content-menu.dropdown{role:"presentation"}
            %a.dropdown-toggle{herf:"#", data-toggle:"dropdown", role:"button", aria-haspopup:"true", aria-expanded:"false"} Solutions 
            %ul.dropdown-menu
              %li
                %a{href:"#"} 
                  %p.text-blue IdemGroup
                  %span Manage group reservations the easy way
              %li
                %a{href:"#"} 
                  %p.text-blue IdemEvents
                  %span Engage with your guests in meaningful ways
          %li.content-menu.dropdown{role:"presentation"}
            %a.dropdown-toggle{herf:"#", data-toggle:"dropdown", role:"button", aria-haspopup:"true", aria-expanded:"false"} Company 
            %ul.dropdown-menu
              %li
                %a{href:"#"} 
                  %p.text-blue About IdemLabs
              %li
                %a{href:"#"} 
                  %p.text-blue Partners
          %li.content-menu 
            %a{herf:"#"}
              %img.logo{src:"assets/images/logo/IdemLabs-Blue.png"}
          %li.content-menu 
            %a{herf:"#"} Contact
      %a.btn.btn-menu{href:"#"} SIGN UP FREE
        %img.icon-next-page{src:"assets/images/icon/icon-next.png"}
    #idem-group-event
      .top-content
        .container
          %p IdemGroup
          %h2 The easiest way to manage group 
            %br
            reservations.
          %a.btn.btn-main{href:"#"} GET STARTED FREE
            %img.icon-next-page{src:"assets/images/icon/icon-next-blue.png"}
      .bot-content.text-center
        .container
          %h3 Is this your challenge today?
          %p.margin.margin-bottom Reams of paperwork, massive spreadsheets, faxes (huh?), inefficient processes & time consuming 
            %br
            follow-ups. We engineered IdemGroup to automate and streamline your biggest challenges, and to 
            %br
            ultimately improve your guests experience.
          .img.margin-bottom
            %img{src:"assets/images/img/img-main.png"}
          .row.text-left
            .col-md-6
              %p IdemGroup is indispensable for event planners and venues providing housing services for events & groups. Suitable for one-off events like corporate meetings, conferences, trade shows or for repeated events like training, recruitment drives or tournaments. 
            .col-md-6
              %p IdemGroup enables time-saving housing management through a branded booking microsite for guests that improve the guest experience and increase upsell and customer loyalty.
          .key-features
            %h3 Key Features
            %a{href:"#first-feature"} Guest reservations 
              %br
              websites
            %a{href:"#second-feature"} Dashboard 
              %br
              reporting
            %a{href:"#third-feature"} Built-in robot 
              %br
              assistant
            #first-feature.text-left
              .row
                .col-md-4
                  .img.margin-bottom
                    %img{src:"assets/images/customized.png"}
                  %h3 Customized guest reservations websites
                  %p Group reservations microsites where guests can visit to learn more about your hotel and make their reservation online, when and how they wish within the contracted block and the specific rates and inclusions.
                .col-md-4
                  %label BETTER EXPERIENCE
                  %p.margin-bottom Improved brand experience for your guests over filling in a spreadsheet as their first experience.
                  %label AUTOMATED WORKFLOWS
                  %p Automated reminders to keep you, your customers and their guests on the same page.  
                .col-md-4
                  %label MORE PRODUCTIVE
                  %p.margin-bottom Improves productivity for your group organizer from manually managing guest reservations. 
                  %label REAL-TIME RESERVATIONS
                  %p Realtime view of all reservations for both the hotel and the group organizer.
            %hr
            #second-feature.text-left
              .row
                .col-md-4
                  .img.margin-bottom
                    %img{src:"assets/images/dashboard.png"}
                  %h3 Dashboard style reporting for both hoteliers & planners
                .col-md-4
                  %label ALWAYS BE ON TRACK
                  %p.margin-bottom Realtime visibility into every reservation for both the hotel and the group organizer
                  %label GAIN NEW INSIGHTS
                  %p Deep dive into every aspect of your group.
                .col-md-4
                  %label WORK ANYWHERE
                  %p Securely access information from anywhere, anytime.
            %hr
            #third-feature.text-left
              .row
                .col-md-4
                  .img.margin-bottom
                    %img{src:"assets/images/robot.png"}
                  %h3 Dashboard style reporting for both hoteliers & planners
                .col-md-4
                  %label COMMUNICATE SMARTER
                  %p.margin-bottom Automated notifications and reminders to ensure your staff receives the right information at the right time, reducing time consuming manual follow-ups.
                  %label UPDATES INFO AUTOMATICALLY
                  %p Reduce time and stress by automating the collection of guest information.
                .col-md-4
                  %label MAXIMISE PROFITABILITY
                  %p Regular reminders to prompt you & your planners when the release dates are due to maximise the profitability of your inventory.   
    %section
      .banner-footer
        .oval-footer.text-center
          .d-tbl.height
            .d-tbl-cell
              %h3 Ready to get started?
              %p See what it's like to manage events & group reservations the 
                %br 
                easy way. Sign up for free now!
               %a.btn.btn-menu{href:"#"} SIGN UP FREE
                  %img.icon-next-page{src:"assets/images/icon/icon-next.png"}
    %footer
      #subscribe
        .content
          .row
            .col-md-5
              %h3 Stay in the loop
              %p Subscribe to get updated with our latest release and products.
            .col-md-7
              %input{placeholder: "Enter your email address"}
              %span We respect your inbox, no spam!
              %a.btn.btn-main{href:"#"} SUBSCRIBE
                %img.icon-next-page{src:"assets/images/icon/icon-next-blue.png"}
      #info-footer
        .container.text-center
            .row.margin-bottom.text-left
              .col-md-4
                %img.logo{src:"assets/images/logo/IdemLabs-Blue.png"}
                %a.btn.btn-main{href:"#"} SIGN UP FREE
                  %img.icon-next-page{src:"assets/images/icon/icon-next-blue.png"}
              .col-md-2.menu-tab
                %p IDEM SOLUTION
                %a{href:"#"} IdemEvents
                %a{href:"#"} IdemGroup
              .col-md-2.menu-tab
                %p ABOUT US
                %a{href:"#"} Company
                %a{href:"#"} Partner
              .col-md-2.menu-tab
                %p CONNECT
                %a{href:"#"} Blog
                %a{href:"#"} Contact
              .col-md-2.logo-client
                %p FIND US AT
                %a{href:"#"} 
                  %img.logo{src:"assets/images/icon/icon-twitter.png"}
                %a{href:"#"} 
                  %img.logo{src:"assets/images/icon/icon-linkedin.png"}
                %a{href:"#"}
                  %img.logo{src:"assets/images/icon/icon-facebook.png"}
            .content-bot
              %span Privacy Policy 
              %span.gray | 
              %span Terms of Use
            %p Copyright © 2017 Idem Labs Pte. Ltd.         

  
%script{src:"assets/js/jquery-1.9.1.js", type:"text/javascript"}
%script{src:"assets/plugins/jquery-ui/jquery-ui.min.js", type:"text/javascript"}
%script{src:"assets/plugins/timepicker/jquery.timepicker.min.js", type:"text/javascript"}
%script{src:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", type:"text/javascript"}
%script{src:"assets/plugins/nice-select/js/jquery.nice-select.min.js", type:"text/javascript"}
%script{src:"assets/js/sofitel.js", type:"text/javascript"}