%html
  %head
    %title Kingsmen
    %meta{charset:"utf-8"}
    %meta{content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name:"viewport"}
    %link{href:"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700", rel:"stylesheet"}
    %link{href:"assets/plugins/jquery-ui/jquery-ui.min.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/plugins/timepicker/jquery.timepicker.min.css", rel:"stylesheet", type:"text/css"}
    %link{href:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/plugins/nice-select/css/nice-select.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/css/main.css", rel:"stylesheet", type:"text/css"}

  %body.home
    %section
      .section-banner
        %nav.menu-top
          %ul.menu-1
            %li.content-menu
              %a{href:"#"} Login
            %li.content-menu
              %a{href:"#"} Support
          %ul.menu-2
            %li.content-menu 
              %a{herf:"#"} Solutions
            %li.content-menu 
              %a{herf:"#"} Company
            %li.content-menu 
              %a{herf:"#"}
                %img.logo{src:"assets/images/logo/logo-white.png"}
            %li.content-menu 
              %a{herf:"#"} Contact
        %a.btn.btn-menu{href:"#"} SIGN UP FREE
          %img.icon-next-page{src:"assets/images/icon/icon-next.png"}
        .caption.bg-oval
          %h2 Helping maximise revenue, 
            %br 
            productivity & customer loyalty
            %br
            from your meetings, events and 
            %br
            group business.

          %a.btn.btn-text{href:"#"} SIGN UP FREE
            %img.icon-next-page{src:"assets/images/icon/icon-next.png"}
      %nav.menu-home
        %ul
          %li.content-menu 
            %a{href:"#"}
              %img.logo{src:"assets/images/logo/logo-white.png"}
          %li.content-menu 
            %a{href:"#"} Solutions
          %li.content-menu
            %a{href:"#"} Company
          %li.content-menu 
            %a{href:"#"} Contact
          %li.content-menu
            %a.btn.btn-main{href:"#"} SIGN UP FREE
              %img.icon-next-page{src:"assets/images/icon/icon-next-blue.png"}
    %section
      #solution
        %h2 Our Solutions
        .content
          .d-tbl
            .d-tbl-cell.width-text
              .text-content
                %h3 IdemGroup
                %p Stunning group reservations software
                  %br
                  which improves efficiency, revenue and 
                  %br
                  customer experience.
                %a.btn.btn-main{href:"#"} POWER-UP YOUR RESERVATIONS
                  %img.icon-next-page{src:"assets/images/icon/icon-next-blue.png"}
            .d-tbl-cell
              .img-solution-right
                %img{src:"assets/images/img/home-idemgroup.jpg"}
          .d-tbl
            .d-tbl-cell
              .img-solution-left
                %img{src:"assets/images/img/home_idemevents.png"}
            .d-tbl-cell.width-text
              .text-content
                %h3 IdemEvents
                %p Cloud-based, end to end event 
                  %br
                  management platform which automates 
                  %br
                  & optimizes event tasks, amassing 
                  %br 
                  insights into the ROI of events and 
                  %br improving customer loyalty.
                %a.btn.btn-main{href:"#"} DISCOVER BETTER EVENTS
                  %img.icon-next-page{src:"assets/images/icon/icon-next-blue.png"}
    %section
      #workflows
        %h3.text-center Workflows are improved for...
        .row
          .inner
            %a.text-blue{href:"#"}
              %img{src:"assets/images/item-hotels.png"}
              %p HOTELS
          .inner
            %a.text-green{href:"#"}
              %img{src:"assets/images/item-events.png"}
              %p EVENT ORGANIZERS
        .content-group
          .content-inner#hotel
            .row
              .col-md-6
                %p.text-center IDEMGROUP
                %ul
                  %li Real time collection of guest data for every reservation
                  %li Automates follow-up to reduce work load
                  %li Simple, powerful reports that save you time
              .col-md-6
                %p.text-center IDEMEVENT
                %ul
                  %li A value add to improve customer loyalty
                  %li Hotel microsites for every event
                  %li Real time visibility into the progress of events
                  %li Collect dietary preferences from everyone
          .content-inner#event{style:"display:none"}
            .row
              .col-md-6
                %p.text-center IDEMGROUP
                %ul
                  %li Stunning group reservations websites for every event
                  %li Visibility into every reservation
                  %li Dashboard reporting
                %span No more spreadsheets to manage
              .col-md-6
                %p.text-center IDEMEVENT
                %ul
                  %li Event websites that improve in the customer experience & data dissemination
                  %li Online registration & payments
                  %li Integrated email
                  %li Attendance tracking / check-in
                  %li Saves you money as its free to use
    %section
      #info
        .text-center
          %h3.title A Modern User Interface with Powerful Features
          %p Delight your customers with the simplest event & group reservations systems in the industry.
          .content
            .d-tbl
              .d-tbl-cell.width-text
                .text-content
                  .icon
                    %img{src:"assets/images/icon/icon-smile.png"}
                  %p.text-blue DELIGHT YOUR CUSTOMERS
                  %span A beautiful user experience.
                    %br
                    %br
                    Since business is done on the run these 
                    %br
                    days, we’ve optimized our event & group 
                    %br
                    experience for mobile so that you and 
                    %br
                    your customers can register from 
                    %br
                    anywhere, at any time, on any device.
              .d-tbl-cell
                .img-solution-right
                  %img{src:"assets/images/img/img-modern.png"}
          %h3.title Maintain Brand Consistency
          %p We understand how important your brand is when it comes to interactions with your customers, so 
            %br
            we want to keep it front and center.
          .content
            .d-tbl
              .d-tbl-cell.width-text
                .text-content
                  .icon
                    %img{src:"assets/images/icon/icon-brand.png"}
                  %p.text-blue CUSTOMIZE WITH YOUR BRAND
                  %span You can easily customize your event 
                  %br
                  websites and your emails with your 
                  %br
                  company identity to let your brand shine 
                  %br
                  through.
              .d-tbl-cell
                .img-solution-right
                  %img{src:"assets/images/img/img-maintain.png"}
    %section
      #automate.text-center
        %h3.title Automate Workflow and Save Time
        %p Our event and group management software increase productivity, improves data collection and 
          %br
          drives incremental revenue.
        .content
          .inner
            .icon.title
              %img{src:"assets/images/icon/icon-mail.png"}
            %p.text-blue AUTOMATE EMAIL 
              %br
              COMMUNICATION
            %span You can easily customize your event 
            %br
            websites and your emails with your 
            %br
            company identity to let your brand shine 
            %br
            through.
          .inner
            .icon.title
              %img{src:"assets/images/icon/icon-invoicing.png"}
            %p.text-blue AUTOMATE INVOICING 
              %br
              AND RECEIPTS
            %span You can easily customize your event 
            %br
            websites and your emails with your 
            %br
            company identity to let your brand shine 
            %br
            through.
          .inner
            .icon.title
              %img{src:"assets/images/icon/icon-report.png"}
            %p.text-blue AUTOMATE REPORTING
            %span You can easily customize your event 
            %br
            websites and your emails with your 
            %br
            company identity to let your brand shine 
            %br
            through.
    %section
      .banner-footer
        .oval-footer.text-center
          .d-tbl.height
            .d-tbl-cell
              %h3 Ready to get started?
              %p See what it's like to manage events & group reservations the 
                %br 
                easy way. Sign up for free now!
              %a.btn.btn-white{href:"#"} SIGN UP FREE
                %img.icon-next-page{src:"assets/images/icon/icon-next.png"}
    %footer
      #subscribe
        .content
          .row
            .col-md-5
              %h3 Stay in the loop
              %p Subscribe to get updated with our latest release and products.
            .col-md-7
              %input{placeholder: "Enter your email address"}
              %span We respect your inbox, no spam!
              %a.btn.btn-main{href:"#"} SUBSCRIBE
                %img.icon-next-page{src:"assets/images/icon/icon-next-blue.png"}
      #info-footer
        .container.text-center
            .row.margin-bottom.text-left
              .col-md-4
                %img.logo{src:"assets/images/logo/IdemLabs-Blue.png"}
                %a.btn.btn-main{href:"#"} SIGN UP FREE
                  %img.icon-next-page{src:"assets/images/icon/icon-next-blue.png"}
              .col-md-2.menu-tab
                %p IDEM SOLUTION
                %a{href:"#"} IdemEvents
                %a{href:"#"} IdemGroup
              .col-md-2.menu-tab
                %p ABOUT US
                %a{href:"#"} Company
                %a{href:"#"} Partner
              .col-md-2.menu-tab
                %p CONNECT
                %a{href:"#"} Blog
                %a{href:"#"} Contact
              .col-md-2.logo-client
                %p FIND US AT
                %a{href:"#"} 
                  %img.logo{src:"assets/images/icon/icon-twitter.png"}
                %a{href:"#"} 
                  %img.logo{src:"assets/images/icon/icon-linkedin.png"}
                %a{href:"#"}
                  %img.logo{src:"assets/images/icon/icon-facebook.png"}
            .content-bot
              %span Privacy Policy 
              %span.gray | 
              %span Terms of Use
            %p Copyright © 2017 Idem Labs Pte. Ltd.

%script{src:"assets/js/jquery-1.9.1.js", type:"text/javascript"}
%script{src:"assets/plugins/jquery-ui/jquery-ui.min.js", type:"text/javascript"}
%script{src:"assets/plugins/timepicker/jquery.timepicker.min.js", type:"text/javascript"}
%script{src:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", type:"text/javascript"}
%script{src:"assets/plugins/nice-select/js/jquery.nice-select.min.js", type:"text/javascript"}
%script{src:"assets/js/sofitel.js", type:"text/javascript"}
