%html
  %head
    %title Kingsmen
    %meta{charset:"utf-8"}
    %meta{content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name:"viewport"}
    %link{href:"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700", rel:"stylesheet"}
    %link{href:"assets/plugins/jquery-ui/jquery-ui.min.css", rel:"stylesheet", type:"text/css"}
    %link{href:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/plugins/nice-select/css/nice-select.css", rel:"stylesheet", type:"text/css"}
    %link{href:"assets/css/main.css", rel:"stylesheet", type:"text/css"}

  %body
    #partner
      .top-content
        .container
          %span Partner with Idem
          %h2 Grow your business with us. 
            %br
            Let’s talk if you are providing 
            %br
            complementary solutions to hoteliers.
          %a.btn.btn-main{href:"#"} APPLY FOR PARTNERSHIP
            %img.icon-next-page{src:"assets/images/icon/icon-next-blue.png"}
      .bot-content.bg-oval
        .container.text-center
          %h2.margin-bottom Types of Partnership
          .row
            .col-md-8.text-left.partners-info
              .text-inner
                %h3 Technology Partners
                %p We are interested to speak with great technology companies providing the following cloud-based solutions to hoteliers;
                  %br
                  %br
                  Marketing solutions
                  %br
                  CRM – Customer relationship management
                  %br
                  PMS – Property management systems
                  %br
                  CRS – Central reservations systems
                  %br
                  RMS - Revenue management systems
                  %br
                  GDS – Global distribution systems
                  %br
                  OTA’s – Online travel agents
                  %br
                  Guest applications
                  %br
                  Activities & experience booking companies
                  %br
                  Others
                %h3 Referral Partners
                %p Partners who generate leads and customer referrals with the intent of winning business with Idem Labs.
            .col-md-4.featrue
              .text-inner.text-left
                .img
                  %img{src:"assets/images/text.png"}
                %p &nbsp;- Ryunosuke Satoro
          %a.btn.btn-main{href:"#"} APPLY FOR PARTNERSHIP
            %img.icon-next-page{src:"assets/images/icon/icon-next-blue.png"}

%script{src:"assets/js/jquery-1.9.1.js", type:"text/javascript"}
%script{src:"assets/plugins/jquery-ui/jquery-ui.min.js", type:"text/javascript"}
%script{src:"assets/plugins/timepicker/jquery.timepicker.min.js", type:"text/javascript"}
%script{src:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", type:"text/javascript"}
%script{src:"assets/plugins/nice-select/js/jquery.nice-select.min.js", type:"text/javascript"}
%script{src:"assets/js/sofitel.js", type:"text/javascript"}
