#contact 
	color: $white
	margin-bottom: 80px
	padding-top: 150px
	.content
		width: 74%
		margin: auto
	.form-content
		background: $white
		margin-top: 50px
		box-shadow: 0 2px 15px 2px rgba(203, 209, 214, 0.3);
		border-radius: 7px
		color: $light-gray
		.group-form
			width: 74%
			margin: auto
			// display: table
			position: relative
			label 
				position: absolute
				top: 30%
				left: 15px
				color: $disable
				font-weight: normal
				margin: 0
				transition: all 0.2s ease-in-out;
			input
				&:focus + label,
				&:valid + label,
				&[data-empty="false"] + label
					text-transform: uppercase
					top: -7px
					background: $white
					transition: all 0.2s ease-in-out
					color: $blue
		.inner-form
			padding-top: 40px
	.text-center > .inner
		margin-top: 40px
	.inner
		p 
			font-size: 14px
	.select-featrue
		padding: 5px 15px

// zoom bigger destop //
@media (min-width: 1600px)
	#contact
		padding-top: 50px
		p
			font-size: 24px
@media (max-width: 992px)
	#contact
		padding-top: 50px
		.content
			width: 95%
		.form-content
			.group-form
				width: 90%

		.text-center > .inner
			margin-top: 0

