#contact
	color: $white
	margin-bottom: 80px
	padding-top: 150px
	.content
		width: 74%
		margin: auto
	.form-content
		background: $white
		margin-top: 50px
		box-shadow: 0 2px 15px 2px rgba(203, 209, 214, 0.3);
		border-radius: 7px
		.group-form
			width: 74%
			margin: auto
			display: table
		.inner-form
			margin-top: 40px
	.text-center > .inner
		margin-top: 40px
	.inner
		p 
			font-size: 14px

// zoom bigger destop //
@media (min-width: 1600px)
	#contact
		p
			font-size: 24px















	
	

