.home
	.section-banner
		@include ratioWrapper(1280, 700)
		@include bgImage('../images/bg/home-banner.png', top, 100%)
		.caption
			padding-top: 10%
			padding-left: 10%
			color: $white
			h2 
				width: 50%
		.bg-oval
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			z-index: 2
			.btn-text 
				margin-top: 20px
		// &:after
		// 	content: ''
		// 	display: block
		// 	position: absolute
		// 	bottom: 0
		// 	left: 0
		// 	width: 100%
		// 	height: 200px
		// 	z-index: 1
		// 	background-color: transparent
		// 	@include gradient(transparent, $white, $white, top, bottom)

	.d-tbl-cell
		clear: fixed;	
	.img-solution-right
		float: right
	.img-solution-left 
		float: left
		
	.menu-home 
		background: $darkBlue
		padding: 20px 0 10px
		text-align: center
		position: relative
		&:after 
			content: ''
			position: absolute
			bottom: -5px
			left: 0
			background: $gradient
			z-index: -1
			height: 5px
			width: 100%
		.btn-menu
			// border: 1px solid transparent
			position: relative
			&:after 
				content: ''
				position: absolute
				background: linear-gradient(red, blue);
				top: -1px
				bottom: -1px
				left: -1px
				right: -1px
				z-index: -1
		.btn-main
			margin: 0
	#solution
		h2
			color: $gray
			text-align: center
			margin: 72px 0 60px
		h3 
			margin-bottom: 20px
		
		.content
			text-align: center
		.solution-right
			display: table
			float: right
			width: 40%
		p
			color: #777
			letter-spacing: .5
			line-height: 1.5
		// .img-solution-right
		// 	margin-right: -40%
		// .img-solution-left
		// 	margin-left: -30%
	#workflows
		width: 60%
		margin: auto
		padding-top: 100px
		h3
			margin-bottom: 50px
		li 
			color: $light-gray
			font-size: 14px
			line-height: 1.5
			letter-spacing: .3
			position: relative
			&:before
				content: ''
				width: 20px
				height: 20px
				@include bgImage('../images/icon/icon-check.png')
				position: absolute
				left: -30px
		.content-inner
			box-shadow: 0 2px 15px 2px rgba(203, 209, 214, 0.3)
			padding: 30px
		.img
			float: left
			width: 50%
			text-align: center
		.inner
			float: left
			text-align: center
			width: 50%
			display: table
			margin-bottom: 10px
			text-align: center
			.img-container
				margin-bottom: 10px
				display: inline-block
				border-radius: 50%
				@include transition
			
			a.text-blue
				@include clearLink($color-info)
				.img-container
					background-color: rgba($color-info, .05)
					&:hover
						background-color: rgba($color-info, .1)
			a.text-green
				@include clearLink($color-success)
				.img-container
					background-color: rgba($color-success, .05)
					&:hover
						background-color: rgba($color-success, .1)

		.border-bot-blue
			border-bottom: 1px solid $blue 
		.border-bot-green
			border-bottom: 1px solid $green
	#info
		padding-top: 100px
		p
			color: $color-default
			letter-spacing: .7
		.icon
			margin-bottom: 20px
		.content
			margin: 60px 0
		span
			font-size: 15px
			line-height: 1.7
	#automate
		.content
			width: 80%
			margin: 40px auto
			display: table
			.inner span
				font-size: 15px
				line-height: 1.7
				letter-spacing: .4

		.inner
			width: 33%
			float: left 
			text-align: left
			padding-left: 5%

// reponsive mobile
@media (max-width: 992px)	
	.home
		.section-banner
			@include ratioWrapper(320, 480)
			@include bgImage('../images/bg/mobile-bg.png', top, 100%)
			.caption
				padding-left: 2%
				padding-top: 30%
				h2
					width: 90%
					letter-spacing: .2
		#solution
			h2
				margin: 40px 0 20px
			.solution-right
				float: none
				width: 90%
		#workflows 
			width: 90%
			margin: auto
			padding-top: 50px
			.content-inner
				padding: 30px 10px
			.inner	
				p 
					font-size: 12px
				.img-container
					width: 70%

		#info
			width: 100%
			h3 
				font-size: 23px
				letter-spacing: .2
				line-height: 1.39
				width: 90%
				margin: auto
			p 
				font-size: 14.5px
				line-height: $line-height
				letter-spacing: $letter-spacing
		.describe
			width: 92%
			margin: auto
		#info
			.img-solution-right, .img-solution-left
				width: 80%
		#automate
			.content
				width: 100%
			.inner
				width: 90%
				margin: auto
				float: none
				padding-left: 0
			.icon
				width: 20%
				margin-top: 30px
		.icon	
			display: table
			width: 20%
			