.home
	.section-banner
		@include ratioWrapper(1280, 700)
		@include bgImage('../images/bg/stock.png', top, 100%)
		.caption
			padding-top: 10%
			padding-left: 10%
			color: $white
		.bg-oval
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			z-index: 1
			.btn-text 
				margin-top: 20px
		
			
		
	.menu-home 
		background: $darkBlue
		padding: 20px 0 10px
		text-align: center
		position: relative
		&:after 
			content: ''
			position: absolute
			bottom: -5px
			left: 0
			background: $gradient
			z-index: -1
			height: 5px
			width: 100%
		.btn-menu
			// border: 1px solid transparent
			position: relative
			&:after 
				content: ''
				position: absolute
				background: linear-gradient(red, blue);
				top: -1px
				bottom: -1px
				left: -1px
				right: -1px
				z-index: -1
		.btn-main
			margin: 0
	#solution
		h2
			color: $gray
			text-align: center
			margin: 72px 0 60px
		h3 
			margin-bottom: 20px
		
		.content
			text-align: center
		
		
		// .img-solution-right
		// 	margin-right: -40%
		// .img-solution-left
		// 	margin-left: -30%
	#workflows
		width: 60%
		margin: auto
		padding-top: 100px
		li 
			color: $light-gray
			font-size: 14px
			position: relative
			&:before
				content: ''
				width: 20px
				height: 20px
				@include bgImage('../images/icon/icon-check.png')
				position: absolute
				left: -30px
		.content-inner
			box-shadow: 0 2px 15px 2px rgba(203, 209, 214, 0.3)
		.row 
			padding-top: 60px
		.img
			float: left
			width: 50%
			text-align: center
		.inner
			float: left
			text-align: center
			width: 50%
			display: table
	#info
		padding-top: 100px
		.icon
			margin-bottom: 20px
		.content
			margin: 60px 0
	#automate
		.content
			width: 80%
			margin: 40px auto
			display: table
		.inner
			width: 33%
			float: left 
			text-align: left
			padding-left: 5%
