.idem-group-event
	h1
		font-size: 38px
		letter-spacing: .5
		line-height: 1.3
		width: 70%
	h2, h3
		color: $gray
	h2
		font-size: 30px
		line-height: 1.4
		letter-spacing: 0.4px

	h3
		font-size: 25px
		line-height: 1.4
		letter-spacing: 0.7px
	h4
		font:
			family: $font-rubik
			size: 16px
			weight: 400
		line-height: 1.7
		color: $color-default
		letter-spacing: .5px
	p
		font-size: 14px
		line-height: 1.7
		letter-spacing: .5
		color: $color-default
	label
		color: $blue
		font-size: 16px
		margin-bottom: 10px
		font-weight: normal
		& ~ p
			color: #4A4A4A
			font-size: 15px
			letter-spacing: .3
			margin-bottom: 40px

	a
		font-size: 16px
		display: inline-block
	
	.top-content 
		p
			font-size: 24px
			color: #fff
		a 
			margin-top: 30px
	.section-connect
		p
			font-size: 16px
			letter-spacing: .7
		strong
			font-weight: 500
		.text-left
			// font-weight: 500

	.key-features
		margin-top: 100px
		
	.key-features-list
		padding: 30px 0 5px
		a
			margin: 0 15px
			vertical-align: middle
	#first-feature
		margin-top: 50px

.idem-group-event#idem-group .key-features-list a
	min-width: 200px

/// zoom bigger destop
@media (min-width: 1600px)
	#idem-group-event
		label, a
			font-size: 20px
		.key-features
			h3
				font-size: 30px
// responsive mobile
@media (max-width: 992px)
	.idem-group-event
		h1, h2
			font-size: 23px
			line-height: 1.39
			letter-spacing: .2
		h2
			margin-top: 40px
		h3
			font-size: 20px
			line-height: 1.4
			letter-spacing: .2
		label
			margin-top: 30px
			& ~ p 
				font-size: 13px
				margin-bottom: 0
				line-height: 1.5
		.img 
			text-align: center
		.key-features
			margin-top: 50px
			a
				display: none
		.section-connect
			p
				font-size: 13px
				letter-spacing: .3
				line-height: 1.46
				text-align: left
		.key-features-list
			padding: 0
		.bot-content
			padding: 0
		.gradient
			margin: 30px 0
		#first-feature
			margin-top: 40px
