#company
	h2 
		margin-top: 0
	tr > td
		&:first-child
			width: 20%
	tr 
		td 
			padding: 5px
			font-size: 13px
	.featrue
		padding: 10px
		border: 1px solid $blue
		border-radius: 7px
		margin-bottom: 20px
	.text-link
		&:hover,
		&:hover:active,
		&:active,
		&:focus 
			text-decoration: underline
			color: $blue
	.lead-info
		width: 48%
		float: left
	.distance
		margin-right: 2%
// responsive mobile
@media (max-width: 992px)
	#company
		.featrue
			width: 48%
			float: left
			margin-top: 30px
		.featrue-left
			margin-right: 2%
		.lead-info
			width: 100%
			float: none
		.distance
			margin-right: 0