#company
	
	hr
		background-image: linear-gradient(to right, #01d47e, #0095ff)
		height: 2px
		border: 0
		margin: 80px 0 60px
	.top-content
		background: $darkBlue
		color: $white
		padding: 150px 0 80px
		p 
			font-size: 24px
		span 
			color: $white
	.bot-content
		padding: 60px 0