#sign-up
	hr 
		margin: 20px 0
	h2
		margin-top: 150px
		color: $white
	h3 
		margin-top: 80px
	tr > td
		&:first-child
			width: 20%
	td 
		padding: 5px 0
	.container
		width: 62% 
	.img
		margin-bottom: 10px
	.featrue
		p
			font-size: 13px
			
		background: $white
		border-radius: 7px
		.inner
			padding: 30px
	.group-form
		background: $white
		border-radius: 7px
		box-shadow: 0 2px 15px 2px rgba(203, 209, 214, 0.3);
	.inner-form
		width: 74%
		margin: auto
	.character-input
		margin: 15px 0
	.left, .right
		width: 48%
	.left
		margin-right: 2%
	.right
		margin-left: 2%
