@charset "UTF-8";
/* $smartphone: 480px */
/* $tabletPortrait: 767px */
/* $tabletLandscape: 1023px */
/* $xsDesktop: 1100px */
/* $smDesktop: 1200px */
/* $mdDesktop: 1280px */
/* // $desktop: 1174px */
/* $largeScreen: 1440px */
/* $hdScreen: 1799px */
/*
 * @include triangle within a pseudo element and add positioning properties (ie. top, left)
 * $direction: up, down, left, right
 */
/*
	$xlg-fonts: (
	  null: 120px,
	  $mdDesktop: 100px,
	  $smDesktop: 90px,
	  $xsDesktop: 80px,
	  $largeScreen: 160px
	)

	$lg-fonts: (
	  null: 51px,
	  $mdDesktop: 45px,
	  $xsDesktop: 40px,
	  $largeScreen: 72px
	)

	$md-fonts: (
	  null: 40px,
	  $mdDesktop: 35px,
	  $xsDesktop: 28px,
	  $largeScreen: 60px
	)

	$sm-fonts: (
	  null: 26px,
	  $mdDesktop: 22px,
	  $xsDesktop: 19px,
	  $largeScreen: 40px
	)

	$xs-fonts: (
	  null: 17px,
	  $mdDesktop: 15px,
	  $xsDesktop: 14px,
	  $largeScreen: 24px
	)

	$content-fonts: (
	  null: 14px,
	  $mdDesktop: 13px,
	  $xsDesktop: 11px,
	  $largeScreen: 16px
	)
 */
/* Render Helping classes */
.mt-0 {
  margin-top: 0px !important; }

.mt-5 {
  margin-top: 5px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mt-25 {
  margin-top: 25px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-35 {
  margin-top: 35px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mt-45 {
  margin-top: 45px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mt-55 {
  margin-top: 55px !important; }

.mt-60 {
  margin-top: 60px !important; }

.mt-65 {
  margin-top: 65px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mt-75 {
  margin-top: 75px !important; }

.mt-80 {
  margin-top: 80px !important; }

.mt-85 {
  margin-top: 85px !important; }

.mt-90 {
  margin-top: 90px !important; }

.mt-95 {
  margin-top: 95px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mr-0 {
  margin-right: 0px !important; }

.mr-5 {
  margin-right: 5px !important; }

.mr-10 {
  margin-right: 10px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mr-20 {
  margin-right: 20px !important; }

.mr-25 {
  margin-right: 25px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mr-35 {
  margin-right: 35px !important; }

.mr-40 {
  margin-right: 40px !important; }

.mr-45 {
  margin-right: 45px !important; }

.mr-50 {
  margin-right: 50px !important; }

.mr-55 {
  margin-right: 55px !important; }

.mr-60 {
  margin-right: 60px !important; }

.mr-65 {
  margin-right: 65px !important; }

.mr-70 {
  margin-right: 70px !important; }

.mr-75 {
  margin-right: 75px !important; }

.mr-80 {
  margin-right: 80px !important; }

.mr-85 {
  margin-right: 85px !important; }

.mr-90 {
  margin-right: 90px !important; }

.mr-95 {
  margin-right: 95px !important; }

.mr-100 {
  margin-right: 100px !important; }

.mb-0 {
  margin-bottom: 0px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-55 {
  margin-bottom: 55px !important; }

.mb-60 {
  margin-bottom: 60px !important; }

.mb-65 {
  margin-bottom: 65px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-75 {
  margin-bottom: 75px !important; }

.mb-80 {
  margin-bottom: 80px !important; }

.mb-85 {
  margin-bottom: 85px !important; }

.mb-90 {
  margin-bottom: 90px !important; }

.mb-95 {
  margin-bottom: 95px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.ml-0 {
  margin-left: 0px !important; }

.ml-5 {
  margin-left: 5px !important; }

.ml-10 {
  margin-left: 10px !important; }

.ml-15 {
  margin-left: 15px !important; }

.ml-20 {
  margin-left: 20px !important; }

.ml-25 {
  margin-left: 25px !important; }

.ml-30 {
  margin-left: 30px !important; }

.ml-35 {
  margin-left: 35px !important; }

.ml-40 {
  margin-left: 40px !important; }

.ml-45 {
  margin-left: 45px !important; }

.ml-50 {
  margin-left: 50px !important; }

.ml-55 {
  margin-left: 55px !important; }

.ml-60 {
  margin-left: 60px !important; }

.ml-65 {
  margin-left: 65px !important; }

.ml-70 {
  margin-left: 70px !important; }

.ml-75 {
  margin-left: 75px !important; }

.ml-80 {
  margin-left: 80px !important; }

.ml-85 {
  margin-left: 85px !important; }

.ml-90 {
  margin-left: 90px !important; }

.ml-95 {
  margin-left: 95px !important; }

.ml-100 {
  margin-left: 100px !important; }

.pt-0 {
  padding-top: 0px !important; }

.pt-5 {
  padding-top: 5px !important; }

.pt-10 {
  padding-top: 10px !important; }

.pt-15 {
  padding-top: 15px !important; }

.pt-20 {
  padding-top: 20px !important; }

.pt-25 {
  padding-top: 25px !important; }

.pt-30 {
  padding-top: 30px !important; }

.pt-35 {
  padding-top: 35px !important; }

.pt-40 {
  padding-top: 40px !important; }

.pt-45 {
  padding-top: 45px !important; }

.pt-50 {
  padding-top: 50px !important; }

.pt-55 {
  padding-top: 55px !important; }

.pt-60 {
  padding-top: 60px !important; }

.pt-65 {
  padding-top: 65px !important; }

.pt-70 {
  padding-top: 70px !important; }

.pt-75 {
  padding-top: 75px !important; }

.pt-80 {
  padding-top: 80px !important; }

.pt-85 {
  padding-top: 85px !important; }

.pt-90 {
  padding-top: 90px !important; }

.pt-95 {
  padding-top: 95px !important; }

.pt-100 {
  padding-top: 100px !important; }

.pr-0 {
  padding-right: 0px !important; }

.pr-5 {
  padding-right: 5px !important; }

.pr-10 {
  padding-right: 10px !important; }

.pr-15 {
  padding-right: 15px !important; }

.pr-20 {
  padding-right: 20px !important; }

.pr-25 {
  padding-right: 25px !important; }

.pr-30 {
  padding-right: 30px !important; }

.pr-35 {
  padding-right: 35px !important; }

.pr-40 {
  padding-right: 40px !important; }

.pr-45 {
  padding-right: 45px !important; }

.pr-50 {
  padding-right: 50px !important; }

.pr-55 {
  padding-right: 55px !important; }

.pr-60 {
  padding-right: 60px !important; }

.pr-65 {
  padding-right: 65px !important; }

.pr-70 {
  padding-right: 70px !important; }

.pr-75 {
  padding-right: 75px !important; }

.pr-80 {
  padding-right: 80px !important; }

.pr-85 {
  padding-right: 85px !important; }

.pr-90 {
  padding-right: 90px !important; }

.pr-95 {
  padding-right: 95px !important; }

.pr-100 {
  padding-right: 100px !important; }

.pb-0 {
  padding-bottom: 0px !important; }

.pb-5 {
  padding-bottom: 5px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.pb-25 {
  padding-bottom: 25px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.pb-35 {
  padding-bottom: 35px !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.pb-45 {
  padding-bottom: 45px !important; }

.pb-50 {
  padding-bottom: 50px !important; }

.pb-55 {
  padding-bottom: 55px !important; }

.pb-60 {
  padding-bottom: 60px !important; }

.pb-65 {
  padding-bottom: 65px !important; }

.pb-70 {
  padding-bottom: 70px !important; }

.pb-75 {
  padding-bottom: 75px !important; }

.pb-80 {
  padding-bottom: 80px !important; }

.pb-85 {
  padding-bottom: 85px !important; }

.pb-90 {
  padding-bottom: 90px !important; }

.pb-95 {
  padding-bottom: 95px !important; }

.pb-100 {
  padding-bottom: 100px !important; }

.pl-0 {
  padding-left: 0px !important; }

.pl-5 {
  padding-left: 5px !important; }

.pl-10 {
  padding-left: 10px !important; }

.pl-15 {
  padding-left: 15px !important; }

.pl-20 {
  padding-left: 20px !important; }

.pl-25 {
  padding-left: 25px !important; }

.pl-30 {
  padding-left: 30px !important; }

.pl-35 {
  padding-left: 35px !important; }

.pl-40 {
  padding-left: 40px !important; }

.pl-45 {
  padding-left: 45px !important; }

.pl-50 {
  padding-left: 50px !important; }

.pl-55 {
  padding-left: 55px !important; }

.pl-60 {
  padding-left: 60px !important; }

.pl-65 {
  padding-left: 65px !important; }

.pl-70 {
  padding-left: 70px !important; }

.pl-75 {
  padding-left: 75px !important; }

.pl-80 {
  padding-left: 80px !important; }

.pl-85 {
  padding-left: 85px !important; }

.pl-90 {
  padding-left: 90px !important; }

.pl-95 {
  padding-left: 95px !important; }

.pl-100 {
  padding-left: 100px !important; }

.font-10 {
  font-size: 10px; }

.font-11 {
  font-size: 11px; }

.font-12 {
  font-size: 12px; }

.font-13 {
  font-size: 13px; }

.font-14 {
  font-size: 14px; }

.font-15 {
  font-size: 15px; }

.font-16 {
  font-size: 16px; }

.font-17 {
  font-size: 17px; }

.font-18 {
  font-size: 18px; }

.font-19 {
  font-size: 19px; }

.font-20 {
  font-size: 20px; }

.font-21 {
  font-size: 21px; }

.font-22 {
  font-size: 22px; }

.font-23 {
  font-size: 23px; }

.font-24 {
  font-size: 24px; }

.font-25 {
  font-size: 25px; }

.font-26 {
  font-size: 26px; }

.font-27 {
  font-size: 27px; }

.font-28 {
  font-size: 28px; }

.font-29 {
  font-size: 29px; }

.font-30 {
  font-size: 30px; }

.font-31 {
  font-size: 31px; }

.font-32 {
  font-size: 32px; }

.font-33 {
  font-size: 33px; }

.font-34 {
  font-size: 34px; }

.font-35 {
  font-size: 35px; }

.font-36 {
  font-size: 36px; }

.font-37 {
  font-size: 37px; }

.font-38 {
  font-size: 38px; }

.font-39 {
  font-size: 39px; }

.font-40 {
  font-size: 40px; }

.vertical-center,
.horizontal-center {
  position: absolute; }

.vertical-center {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.horizontal-center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.absolute-center {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.iframe-container {
  position: relative; }
  .iframe-container:before {
    content: '';
    display: block;
    padding-top: 56.25%; }

.d-tbl {
  display: table;
  width: 100%; }
  .d-tbl .d-tbl-cell {
    display: table-cell;
    vertical-align: middle; }

/* Base for label styling */
.nice-check:checked, .nice-check:not(:checked) {
  position: absolute;
  left: -9999px; }
  .nice-check:checked + label, .nice-check:not(:checked) + label {
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    font-weight: 100;
    min-height: 30px;
    line-height: 30px; }
    .nice-check:checked + label:before, .nice-check:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 30px;
      border: 1px solid #e0e0e0;
      background: #fff;
      border-radius: 50%; }
    .nice-check:checked + label:after, .nice-check:not(:checked) + label:after {
      content: '✔';
      position: absolute;
      top: 0;
      left: 9px;
      line-height: 30px;
      font-size: 14px;
      color: #0095FF;
      transition: all .1s;
      font-weight: 600; }

.nice-check:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

.nice-check:checked + label:after {
  opacity: 1;
  transform: scale(1); }

.nice-check:focus {
  outline: none !important; }

.nice-check:disabled:not(:checked) + label:before,
.nice-check:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd; }

.nice-check:disabled:checked + label:after {
  color: #999; }

.nice-check:disabled + label {
  color: #aaa; }

.nice-check.nice-check-sm:not(:checked) + label,
.nice-check.nice-check-sm:checked + label {
  min-height: 15px;
  line-height: 15px;
  padding-left: 23px;
  position: relative; }
  .nice-check.nice-check-sm:not(:checked) + label:before,
  .nice-check.nice-check-sm:checked + label:before {
    width: 15px;
    height: 15px; }
  .nice-check.nice-check-sm:not(:checked) + label:after,
  .nice-check.nice-check-sm:checked + label:after {
    line-height: 15px;
    left: 1px; }

.nice-check.nice-check-sm:checked + label:after {
  opacity: 1;
  transform: scale(0.8); }

.nice-check:checked[type="checkbox"] + label:before, .nice-check:not(:checked)[type="checkbox"] + label:before {
  border-radius: 0; }

input:focus, select:focus, button:focus {
  outline: none !important; }

.nice-select:active, .nice-select:focus {
  border-color: #0095ff; }

.nice-select:after {
  width: 10px;
  height: 10px;
  right: 5%;
  margin-top: -7px; }

.nice-select .list {
  width: 100%;
  border-radius: 25px; }
  .nice-select .list li {
    padding: 0 15px;
    color: #424242;
    font-size: 14px; }

.nice-select .option:hover, .nice-select .option:focus, .nice-select .option:visited {
  background-image: linear-gradient(100deg, rgba(1, 212, 126, 0.3), rgba(0, 149, 255, 0.3)); }

.nice-select .option.selected {
  font-weight: normal;
  background-image: linear-gradient(100deg, rgba(1, 212, 126, 0.3), rgba(0, 149, 255, 0.3)); }

.nice-select .option.disabled {
  background: transparent;
  color: #999999;
  display: none; }

.nice-select.error .current {
  color: #FF8303; }

.form-group {
  margin-bottom: 30px; }

.character-input, .intl-tel-input.allow-dropdown {
  border-radius: 25px;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #e0e0e0;
  padding: 10px 20px;
  height: 52px;
  position: relative; }
  .character-input.select-featrue, .select-featrue.intl-tel-input.allow-dropdown {
    padding: 5px 20px; }

.form-item.error-mark {
  background: url("../images/icon/icon-dissable.png") right 15px top 13px/24px 24px no-repeat; }

.form-item .form-control, .form-item .intl-tel-input.allow-dropdown {
  background-color: transparent; }

.btn-active {
  border: 1px solid #0095ff; }

.btn {
  border: 1px solid #FFF;
  border-radius: 18px;
  font-size: 16px;
  line-height: 1;
  height: 35px;
  color: #FFF;
  padding: 9px 24px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.btn-next {
  padding-right: 50px;
  position: relative; }
  .btn-next:after {
    content: '';
    width: 21px;
    height: 13px;
    position: absolute;
    right: 15px;
    top: 10px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }

.btn-info {
  color: #fff;
  background-color: #0095FF;
  border-color: #0095FF; }
  .btn-info.btn-next:after {
    background: url("../images/icon/icon-next.png") center/100% 100% no-repeat; }
  .btn-info:hover, .btn-info:active, .btn-info:active:hover, .btn-info:focus {
    background-color: #0E89E0;
    border-color: #0E89E0; }

.btn-white {
  color: #FFF;
  border: 1px solid #FFF;
  background-color: transparent; }
  .btn-white.btn-next:after {
    background: url("../images/icon/icon-next.png") center/100% 100% no-repeat; }
  .btn-white:hover, .btn-white:active, .btn-white:active:hover, .btn-white:focus {
    background-color: #FFF;
    color: #0095ff; }
    .btn-white:hover:after, .btn-white:active:after, .btn-white:active:hover:after, .btn-white:focus:after {
      background: url("../images/icon/icon-next-blue.png") center/100% 100% no-repeat; }

.btn-main {
  color: #0095ff;
  position: relative;
  border: 1px solid #0095ff;
  transition: all .2s;
  box-sizing: border-box;
  background-color: transparent; }
  .btn-main.btn-next:after {
    background: url("../images/icon/icon-next-blue.png") center/100% 100% no-repeat; }
  .btn-main:hover, .btn-main:active, .btn-main:active:hover, .btn-main:focus {
    background: linear-gradient(115deg, #01d47e, #0095ff);
    color: #fff;
    border-color: transparent; }
    .btn-main:hover:after, .btn-main:active:after, .btn-main:active:hover:after, .btn-main:focus:after {
      background: url("../images/icon/icon-next.png") center/100% 100% no-repeat; }

.btn-main.btn-disables {
  color: #999999;
  border: 1px solid #999999;
  position: relative;
  background-color: #FFF;
  cursor: not-allowed; }
  .btn-main.btn-disables.btn-next:after {
    background: url("../images/icon/icon-next-gray.png") center/100% 100% no-repeat; }
  .btn-main.btn-disables:hover, .btn-main.btn-disables:active, .btn-main.btn-disables:active:hover, .btn-main.btn-disables:focus {
    background: none;
    background-color: #FFF !important;
    border: 1px solid #999999;
    color: #999999; }

.btn-info-bordered {
  color: #0095ff;
  position: relative;
  margin-top: 30px;
  border: 1px solid #0095ff;
  transition: all .2s;
  box-sizing: border-box; }
  .btn-info-bordered.btn-next:after {
    background: url("../images/icon/icon-next-blue.png") center/100% 100% no-repeat; }
  .btn-info-bordered:hover, .btn-info-bordered:active, .btn-info-bordered:active:hover, .btn-info-bordered:focus {
    background: #0095FF;
    color: #fff;
    border-color: transparent; }
    .btn-info-bordered:hover:after, .btn-info-bordered:active:after, .btn-info-bordered:active:hover:after, .btn-info-bordered:focus:after {
      background: url("../images/icon/icon-next.png") center/100% 100% no-repeat; }

textarea.form-control, textarea.intl-tel-input.allow-dropdown {
  max-width: 100%;
  width: 100% !important; }

.intl-tel-input.allow-dropdown {
  display: block; }
  .intl-tel-input.allow-dropdown .flag-container:focus,
  .intl-tel-input.allow-dropdown .selected-flag:focus {
    outline: none !important; }
  .intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
    background-color: transparent; }
  .intl-tel-input.allow-dropdown .selected-flag {
    left: 12px; }
  .intl-tel-input.allow-dropdown input {
    padding: 0 20px;
    border: none;
    line-height: 2.2;
    height: auto;
    background-color: transparent; }
  .intl-tel-input.allow-dropdown .country-list {
    width: 300px; }
    .intl-tel-input.allow-dropdown .country-list span {
      font-size: 12px; }

@media (max-width: 992px) {
  .btn {
    font-size: 14.5px; } }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: "Rubik", sans-serif;
  color: #333;
  font-size: 13px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Serif", sans-serif; }

h3 {
  font-size: 30px;
  color: #555555; }

h2 {
  font-size: 38px;
  line-height: 1.5; }

hr.gradient {
  background-image: linear-gradient(to right, #01d47e, #0095ff);
  height: 2px;
  border: 0;
  margin: 80px 0 60px; }

p {
  font-size: 16px;
  line-height: 1.5; }

a {
  color: #0095FF;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    text-decoration: none; }

span {
  font-size: 15px;
  color: #424242; }

ul li {
  list-style-type: none;
  color: #FFF;
  font-size: 12px;
  padding: 10px 0; }

img {
  max-width: 100%; }

.heading {
  margin-bottom: 30px; }
  .heading h2,
  .heading a {
    display: inline-block;
    vertical-align: middle; }
  .heading h2 {
    font-weight: 400;
    font-size: 20px;
    margin: 0; }
  .heading a {
    float: right; }

.row.space-10 {
  margin-left: -10/2px;
  margin-right: -10/2px; }
  .row.space-10 > [class*="col"] {
    padding-left: 10/2px;
    padding-right: 10/2px; }

.row.space-20 {
  margin-left: -20/2px;
  margin-right: -20/2px; }
  .row.space-20 > [class*="col"] {
    padding-left: 20/2px;
    padding-right: 20/2px; }

.img-responsive {
  width: 100%; }

.hide-md {
  display: none; }

.text-center {
  text-align: center; }

.text-content {
  text-align: left;
  width: 50%;
  margin: auto;
  padding-top: 5%; }

.text-blue {
  color: #0095ff !important; }

.text-gray {
  color: #424242; }

.text-green {
  color: #2ccda2; }

.text-white {
  color: #FFF; }

.title {
  margin-bottom: 20px; }

.width-text {
  width: 50%; }

.height {
  height: 100%; }

.text-right {
  text-align: right; }

.margin {
  margin-top: 30px; }

.margin-bottom {
  margin-bottom: 40px; }

.center {
  width: 50%;
  margin: auto; }

.bg-oval {
  background: url("../images/oval/Oval.png") top left/70% no-repeat; }

.bg-white {
  background: #FFF; }

.icon-next-page {
  margin-left: 10px; }

.banner-footer {
  position: relative;
  background: url("../images/bg/bg-signup.png") center/cover no-repeat;
  color: #FFF;
  margin-top: 80px; }
  .banner-footer:before {
    content: '';
    display: block;
    padding-top: 29.6875%; }
  .banner-footer h3 {
    color: #FFF; }
  .banner-footer:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    background: linear-gradient(to right, #0095ff, #07dea6);
    z-index: -1;
    height: 5px;
    width: 100%; }
  .banner-footer h3 {
    margin-bottom: 20px; }
  .banner-footer .btn {
    margin-top: 40px; }
  .banner-footer .oval-footer {
    background: url("../images/oval/Oval-2.png") center/40% no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; }

.top-content {
  background: #1b2536;
  color: #FFF;
  padding: 150px 0 80px; }
  .top-content p {
    font-size: 24px; }
  .top-content span {
    color: #FFF; }

.bot-content {
  padding: 60px 0; }

.text-footer-banner {
  width: 35%;
  margin: auto; }

@media (min-width: 1600px) {
  h3 {
    font-size: 40px; }
  h2 {
    font-size: 45px; }
  p, .btn, span {
    font-size: 20px; }
  ul li {
    font-size: 22px; }
  .btn {
    border-radius: 28px; } }

@media (min-width: 1200px) {
  .text-content {
    width: 60%; } }

@media (min-width: 992px) {
  .none-destop {
    display: none; } }

@media (max-width: 992px) {
  h2 {
    font-size: 23px; }
  h3 {
    font-size: 23px; }
  p, a {
    font-size: 14.5px; }
  .none {
    display: none; }
  .bg-oval {
    background: url("../images/oval/mobile-oval.png") top left/98% no-repeat; }
  .text-content {
    display: table;
    width: 90%; }
  .banner-footer {
    position: relative;
    background: url("../images/oval/mobile-signup.png") center/cover no-repeat; }
    .banner-footer:before {
      content: '';
      display: block;
      padding-top: 87.5%; }
    .banner-footer .oval-footer {
      background: none; }
  .text-footer-banner {
    width: 84%;
    letter-spacing: .4;
    line-height: 1.45; }
  .character-input, .intl-tel-input.allow-dropdown {
    padding: 10px; }
  .btn-disables {
    margin: 0 0 50px; }
  .top-content {
    padding: 100px 0 40px; } }

.menu-top {
  position: absolute;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 99;
  background: rgba(245, 245, 245, 0.75); }
  .menu-top a {
    font-size: 16px; }
  .menu-top ul {
    width: 100%;
    opacity: .9;
    padding-right: 10%; }
    .menu-top ul a {
      font-size: 12px;
      color: #555555; }
    .menu-top ul li {
      float: right; }
    .menu-top ul .content-menu {
      padding: 10px 15px; }
    .menu-top ul .dropdown-menu {
      background: #FFF; }
      .menu-top ul .dropdown-menu li {
        float: none;
        padding: 0; }
      .menu-top ul .dropdown-menu .text-gray {
        margin-left: 15px; }
      .menu-top ul .dropdown-menu p {
        margin: 0; }
    .menu-top ul .dropdown-menu > li > a {
      padding: 0; }
  .menu-top .menu-2 {
    margin-top: 60px;
    position: absolute;
    z-index: 99;
    left: 15%; }
    .menu-top .menu-2 a {
      color: #FFF; }

.menu-main {
  position: absolute;
  top: 37px;
  left: 0;
  width: 100%;
  height: 75px;
  z-index: 98;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .menu-main ul.navbar {
    text-align: center;
    white-space: nowrap; }
    .menu-main ul.navbar li.content-menu {
      padding: 13px 35px;
      display: inline-block;
      font-size: 16px; }
    .menu-main ul.navbar a {
      color: #fff;
      text-decoration: none; }
      .menu-main ul.navbar a:hover, .menu-main ul.navbar a:active, .menu-main ul.navbar a:focus {
        text-decoration: none; }
  .menu-main .brand {
    height: 48px;
    box-sizing: content-box; }
    .menu-main .brand a {
      display: inline-block; }
    .menu-main .brand img {
      height: 100%;
      width: auto; }
  .menu-main .navbar-brand {
    padding: 16px 35px;
    height: 42px;
    display: none; }
  .menu-main .content-menu.brand {
    display: inline-block; }
  .menu-main .dropdown-menu {
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1, 0.8) translateX(-50%);
    -moz-transform: scale(1, 0.8) translateX(-50%);
    -ms-transform: scale(1, 0.8) translateX(-50%);
    -o-transform: scale(1, 0.8) translateX(-50%);
    transform: scale(1, 0.8) translateX(-50%);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    left: 50%;
    display: block;
    opacity: 0;
    visibility: hidden; }
    .menu-main .dropdown-menu:before {
      content: '';
      display: block;
      position: absolute;
      height: 0;
      width: 0;
      border-bottom: 6px solid #fff;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      position: absolute;
      bottom: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }
    .menu-main .dropdown-menu > li {
      padding: 0; }
      .menu-main .dropdown-menu > li > a {
        line-height: 1;
        padding: 10px 20px; }
  .menu-main .open > .dropdown-menu {
    -webkit-transform: scale(1, 1) translateX(-50%);
    -moz-transform: scale(1, 1) translateX(-50%);
    -ms-transform: scale(1, 1) translateX(-50%);
    -o-transform: scale(1, 1) translateX(-50%);
    transform: scale(1, 1) translateX(-50%);
    opacity: 1;
    visibility: visible; }

.menu-main.fixed {
  background-color: #1b2536;
  position: fixed;
  top: 0;
  z-index: 100; }
  .menu-main.fixed.nav-hide {
    top: -75px; }
  .menu-main.fixed .navbar-brand {
    display: block;
    position: relative;
    z-index: 1; }
  .menu-main.fixed .content-menu.brand {
    display: none; }
  .menu-main.fixed:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 5px;
    background: #0095ff;
    background: -moz-linear-gradient(left, #0095ff 0, #07dea6 100%);
    background: -webkit-linear-gradient(left, #0095ff 0, #07dea6 100%);
    background: -o-linear-gradient(left, #0095ff 0, #07dea6 100%);
    background: -ms-linear-gradient(left, #0095ff 0, #07dea6 100%);
    background: linear-gradient(left right, #0095ff 0, #07dea6 100%); }

.btn-menu {
  margin-top: 0;
  background: #0095ff;
  border: 1px solid #0095ff;
  z-index: 99; }

@media (max-width: 992px) {
  .container > .navbar-header {
    margin: 0; }
  .menu-main {
    top: 0;
    height: 53px; }
    .menu-main .container, .menu-main .navbar-collapse {
      padding-left: 20px;
      padding-right: 20px; }
    .menu-main .container > .navbar-collapse {
      margin-left: -20px;
      margin-right: -20px; }
    .menu-main .brand {
      height: 23px; }
    .menu-main .navbar-brand {
      display: block;
      padding: 15px 0; }
    .menu-main ul.navbar {
      padding: 0;
      margin: 0; }
      .menu-main ul.navbar li.content-menu {
        display: block;
        text-align: left;
        padding: 13px 0; }
        .menu-main ul.navbar li.content-menu.dropdown {
          background: url("../images/icon/icon-down.png") 100% 10px/15px auto no-repeat; }
        .menu-main ul.navbar li.content-menu a {
          font-size: 14px; }
  .navbar-toggle {
    background: url("../images/icon/icon-bar.png") center/100% auto no-repeat;
    margin: 12px 0 0 0; }
  .navbar-collapse {
    background-color: #1b2536; } }

footer {
  margin-top: 5px; }
  footer h3, footer span {
    color: #FFF; }
  footer h3 {
    margin-top: 10px;
    margin-bottom: 15px; }
    footer h3 ~ p {
      font-size: 15px;
      line-height: 1.7;
      letter-spacing: .4; }
  footer a {
    color: #0095ff; }
  footer p {
    font-size: 12.5px; }
  footer input {
    width: 100%;
    padding: 14px 20px;
    border-radius: 25px;
    border: transparent;
    color: #777777;
    font-size: 15px;
    letter-spacing: .5px; }
  footer hr {
    background-color: #e0e0e0;
    background-image: none;
    margin: 50px 0 15px; }
  footer #info-footer {
    padding-top: 50px;
    position: relative; }
    footer #info-footer:before {
      content: '';
      top: -5px;
      position: absolute;
      left: 0;
      background: linear-gradient(to right, #0095ff, #07dea6);
      width: 100%;
      height: 5px; }
    footer #info-footer p {
      color: #777777; }
    footer #info-footer .menu-tab p {
      font-weight: 500; }
    footer #info-footer .menu-tab a {
      display: block;
      padding: 5px 0; }
    footer #info-footer .logo-client a {
      display: inline-block;
      padding: 5px 10px;
      font-size: 15px; }
  footer .content-bot {
    display: inline-block; }
    footer .content-bot a {
      margin: 10px 10px;
      font-size: 12px; }
    footer .content-bot .gray {
      color: #555555; }
  footer .copyright {
    font-size: 12px; }

#subscribe {
  background-color: #1b2536;
  color: #FFF; }
  #subscribe .content {
    width: 70%;
    margin: auto;
    padding: 40px 0;
    clear: both; }
    #subscribe .content .btn-main {
      float: right; }
    #subscribe .content .no-spam {
      float: left; }
  #subscribe .subscribe-footer {
    margin-top: 30px;
    font-style: italic; }
    #subscribe .subscribe-footer p {
      font-size: 12px; }
    #subscribe .subscribe-footer .btn-main {
      margin: 0; }
    #subscribe .subscribe-footer .msg-success {
      text-align: center;
      display: none; }

@media (max-width: 992px) {
  footer input {
    padding: 10px; }
  footer .content {
    width: 90% !important;
    margin: auto; }
    footer .content .btn-main, footer .content .no-spam {
      float: none !important; }
  footer #info-footer .menu-tab, footer #info-footer .logo-client {
    margin-top: 30px; }
  footer #subscribe .subscribe-footer {
    margin-top: 10px; }
    footer #subscribe .subscribe-footer .msg-default p {
      font-size: 11px;
      letter-spacing: 0.4;
      opacity: .5; }
  footer #subscribe .no-spam {
    margin-bottom: 30px; } }

.home .section-banner {
  position: relative;
  background: url("../images/bg/home-banner.png") top/100% no-repeat; }
  .home .section-banner:before {
    content: '';
    display: block;
    padding-top: 54.6875%; }
  .home .section-banner .caption {
    padding-top: 10%;
    padding-left: 10%;
    color: #FFF; }
    .home .section-banner .caption h2 {
      width: 50%; }
  .home .section-banner .bg-oval {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2; }
    .home .section-banner .bg-oval .btn-text {
      margin-top: 20px; }

.home .d-tbl-cell {
  clear: fixed; }

.home .img-solution-right {
  float: right; }

.home .img-solution-left {
  float: left; }

.home .menu-home {
  background: #1b2536;
  padding: 20px 0 10px;
  text-align: center;
  position: relative; }
  .home .menu-home:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    background: linear-gradient(to right, #0095ff, #07dea6);
    z-index: -1;
    height: 5px;
    width: 100%; }
  .home .menu-home .btn-menu {
    position: relative; }
    .home .menu-home .btn-menu:after {
      content: '';
      position: absolute;
      background: linear-gradient(red, blue);
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      z-index: -1; }
  .home .menu-home .btn-main {
    margin: 0; }

.home #solution h2 {
  color: #555555;
  text-align: center;
  margin: 72px 0 60px; }

.home #solution h3 {
  margin-bottom: 20px; }

.home #solution .content {
  text-align: center; }

.home #solution .solution-right {
  display: table;
  float: right;
  width: 40%; }

.home #solution p {
  color: #777;
  letter-spacing: .5;
  line-height: 1.5; }

.home #workflows {
  width: 60%;
  margin: auto;
  padding-top: 100px; }
  .home #workflows h3 {
    margin-bottom: 50px; }
  .home #workflows li {
    color: #424242;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: .3;
    position: relative; }
    .home #workflows li:before {
      content: '';
      width: 20px;
      height: 20px;
      background: url("../images/icon/icon-check.png") center/cover no-repeat;
      position: absolute;
      left: -30px; }
  .home #workflows .content-inner {
    box-shadow: 0 2px 15px 2px rgba(203, 209, 214, 0.3);
    padding: 30px; }
  .home #workflows .img {
    float: left;
    width: 50%;
    text-align: center; }
  .home #workflows .inner {
    float: left;
    text-align: center;
    width: 50%;
    display: table;
    margin-bottom: 10px;
    text-align: center; }
    .home #workflows .inner .img-container {
      margin-bottom: 10px;
      display: inline-block;
      border-radius: 50%;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .home #workflows .inner a.text-blue {
      color: #0095FF;
      text-decoration: none; }
      .home #workflows .inner a.text-blue:hover, .home #workflows .inner a.text-blue:active, .home #workflows .inner a.text-blue:focus {
        text-decoration: none; }
      .home #workflows .inner a.text-blue .img-container {
        background-color: rgba(0, 149, 255, 0.05); }
        .home #workflows .inner a.text-blue .img-container:hover {
          background-color: rgba(0, 149, 255, 0.1); }
    .home #workflows .inner a.text-green {
      color: #2ccda2;
      text-decoration: none; }
      .home #workflows .inner a.text-green:hover, .home #workflows .inner a.text-green:active, .home #workflows .inner a.text-green:focus {
        text-decoration: none; }
      .home #workflows .inner a.text-green .img-container {
        background-color: rgba(44, 205, 162, 0.05); }
        .home #workflows .inner a.text-green .img-container:hover {
          background-color: rgba(44, 205, 162, 0.1); }
  .home #workflows .border-bot-blue {
    border-bottom: 1px solid #0095ff; }
  .home #workflows .border-bot-green {
    border-bottom: 1px solid #2ccda2; }

.home #info {
  padding-top: 100px; }
  .home #info p {
    color: #777777;
    letter-spacing: .7; }
  .home #info .icon {
    margin-bottom: 20px; }
  .home #info .content {
    margin: 60px 0; }
  .home #info span {
    font-size: 15px;
    line-height: 1.7; }

.home #automate .content {
  width: 80%;
  margin: 40px auto;
  display: table; }
  .home #automate .content .inner span {
    font-size: 15px;
    line-height: 1.7;
    letter-spacing: .4; }

.home #automate .inner {
  width: 33%;
  float: left;
  text-align: left;
  padding-left: 5%; }

@media (max-width: 992px) {
  .home .section-banner {
    position: relative;
    background: url("../images/bg/mobile-bg.png") top/100% no-repeat; }
    .home .section-banner:before {
      content: '';
      display: block;
      padding-top: 150%; }
    .home .section-banner .caption {
      padding-left: 2%;
      padding-top: 30%; }
      .home .section-banner .caption h2 {
        width: 90%;
        letter-spacing: .2; }
  .home #solution h2 {
    margin: 40px 0 20px; }
  .home #solution .solution-right {
    float: none;
    width: 90%; }
  .home #workflows {
    width: 90%;
    margin: auto;
    padding-top: 50px; }
    .home #workflows .content-inner {
      padding: 30px 10px; }
    .home #workflows .inner p {
      font-size: 12px; }
    .home #workflows .inner .img-container {
      width: 70%; }
  .home #info {
    width: 100%; }
    .home #info h3 {
      font-size: 23px;
      letter-spacing: .2;
      line-height: 1.39;
      width: 90%;
      margin: auto; }
    .home #info p {
      font-size: 14.5px;
      line-height: 1.45;
      letter-spacing: 0.4; }
  .home .describe {
    width: 92%;
    margin: auto; }
  .home #info .img-solution-right, .home #info .img-solution-left {
    width: 80%; }
  .home #automate .content {
    width: 100%; }
  .home #automate .inner {
    width: 90%;
    margin: auto;
    float: none;
    padding-left: 0; }
  .home #automate .icon {
    width: 20%;
    margin-top: 30px; }
  .home .icon {
    display: table;
    width: 20%; } }

#contact {
  color: #FFF;
  margin-bottom: 80px;
  padding-top: 150px; }
  #contact .content {
    width: 74%;
    margin: auto; }
  #contact .form-content {
    background: #FFF;
    margin-top: 50px;
    box-shadow: 0 2px 15px 2px rgba(203, 209, 214, 0.3);
    border-radius: 7px;
    color: #424242; }
    #contact .form-content .form-item {
      display: block;
      position: relative; }
      #contact .form-content .form-item label {
        position: absolute;
        top: 30%;
        left: 20px;
        color: #999999;
        font-weight: normal;
        margin: 0;
        padding: 0 3px;
        transition: all 0.2s ease-in-out; }
      #contact .form-content .form-item input:focus + label,
      #contact .form-content .form-item input.not-empty + label {
        text-transform: uppercase;
        top: -7px;
        background: #FFF;
        transition: all 0.2s ease-in-out;
        color: #0095ff; }
      #contact .form-content .form-item .nice-select.error span {
        color: #FF8303; }
    #contact .form-content .inner-form {
      padding: 40px 80px 20px; }
  #contact .text-center > .inner {
    margin-top: 40px; }
  #contact .inner p {
    font-size: 14px; }

@media (min-width: 1600px) {
  #contact {
    padding-top: 50px; }
    #contact p {
      font-size: 24px; } }

@media (max-width: 992px) {
  #contact {
    padding-top: 50px; }
    #contact .content {
      width: 95%; }
    #contact .text-center > .inner {
      margin-top: 0; } }

#company h2 {
  margin-top: 0; }

#company tr > td:first-child {
  width: 20%; }

#company tr td {
  padding: 5px;
  font-size: 13px;
  line-height: 1.5; }

#company .featrue {
  padding: 10px;
  border: 1px solid #0095ff;
  border-radius: 7px;
  margin-bottom: 20px; }

#company .text-link:hover, #company .text-link:hover:active, #company .text-link:active, #company .text-link:focus {
  text-decoration: underline;
  color: #0095ff; }

#company .lead-info {
  width: 48%;
  float: left; }

#company .distance {
  margin-right: 2%; }

#company .bot-content p {
  margin-top: 20px; }

#company .bot-content .leader-img {
  position: relative;
  display: block;
  width: 160px;
  height: 160px;
  margin: 0 auto; }
  #company .bot-content .leader-img .hover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 88;
    background: url("../images/oval-lead.png") center/100% no-repeat;
    opacity: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  #company .bot-content .leader-img:hover .hover {
    opacity: 1; }
  #company .bot-content .leader-img .logo-link {
    display: block;
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #0095ff;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 7%;
    z-index: 99; }

#company .top-content {
  line-height: 1.6; }

@media (max-width: 992px) {
  #company .featrue {
    width: 48%;
    float: left;
    margin-top: 30px; }
  #company .featrue-left {
    margin-right: 2%; }
  #company .lead-info {
    width: 100%;
    float: none; }
  #company .distance {
    margin-right: 0; } }

#partner h2 {
  color: #FFF; }

#partner h3 {
  margin-bottom: 20px;
  color: #555555; }

#partner span {
  font-size: 24px;
  color: #FFF; }

#partner .container {
  width: 74%; }

#partner .partners-info {
  background: #FFF;
  border-radius: 7px 0px 0px 7px;
  box-shadow: 0 2px 15px 2px rgba(203, 209, 214, 0.3); }

#partner .text-inner {
  width: 75%;
  margin: 40px auto;
  display: table; }

#partner .featrue {
  height: 556px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 0px 7px 7px 0px; }
  #partner .featrue p {
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: .4px;
    margin-top: 40px; }

#partner .img {
  margin-bottom: 20%; }

#partner .bot-content p {
  margin-bottom: 40px;
  color: #777777;
  letter-spacing: .6; }

@media (min-width: 1600px) {
  #partner span {
    font-size: 30px; } }

@media (max-width: 992px) {
  #partner .container {
    width: 100%; }
  #partner .bot-content .container {
    width: 95%; }
  #partner .text-inner {
    width: 95%;
    margin: 0 auto; }
  #partner .featrue {
    height: auto;
    margin-top: 40px; } }

.text-gradient {
  width: 240px;
  font-size: 26px;
  line-height: 34px;
  color: #0095FF;
  background: linear-gradient(154.69deg, #0095FF 20%, #2ccda2 40%, #0095FF 60%, #2ccda2 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.idem-group-event h1 {
  font-size: 38px;
  letter-spacing: .5;
  line-height: 1.3; }

.idem-group-event h2, .idem-group-event h3 {
  color: #555555; }

.idem-group-event h2 {
  font-size: 30px;
  line-height: 1.4;
  letter-spacing: 0.4px; }

.idem-group-event h3 {
  font-size: 25px;
  line-height: 1.4;
  letter-spacing: 0.7px; }

.idem-group-event h4 {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: #777777;
  letter-spacing: .5px; }

.idem-group-event p {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: .5;
  color: #777777; }

.idem-group-event label {
  color: #0095ff;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: normal; }
  .idem-group-event label ~ p {
    color: #4A4A4A;
    font-size: 15px;
    letter-spacing: .3; }

.idem-group-event a {
  font-size: 16px;
  display: inline-block; }

.idem-group-event .top-content p {
  font-size: 24px;
  color: #fff; }

.idem-group-event .section-connect p {
  font-size: 16px;
  letter-spacing: .7; }

.idem-group-event .section-connect strong {
  font-weight: 500; }

.idem-group-event .key-features {
  margin-top: 100px; }

.idem-group-event .key-features-list {
  padding: 30px 0 5px; }
  .idem-group-event .key-features-list a {
    margin: 0 23px;
    vertical-align: middle; }

.idem-group-event #first-feature {
  margin-top: 50px; }

.idem-group-event#idem-group .key-features-list a {
  min-width: 200px; }

@media (min-width: 1600px) {
  #idem-group-event label, #idem-group-event a {
    font-size: 20px; }
  #idem-group-event .key-features h3 {
    font-size: 30px; } }

@media (max-width: 992px) {
  #idem-group-event h3 {
    font-size: 23px; }
  #idem-group-event .img {
    text-align: center; }
  #idem-group-event .key-features a {
    display: none; }
  #idem-group-event #first-feature {
    margin-top: 40px; } }

#page-404 {
  padding-top: 190px; }

#error {
  width: 440px;
  margin: auto;
  height: 80vh;
  position: relative; }
  #error p {
    position: absolute;
    top: 45%;
    left: -5%; }
  #error .footer {
    margin-top: 60px; }
    #error .footer a {
      font-size: 16px;
      color: #555555; }

#sign-up hr {
  margin: 20px 0; }

#sign-up h2 {
  margin: 20% 0 5%;
  color: #FFF; }

#sign-up h3 {
  margin-top: 80px; }

#sign-up .sub-heading {
  color: #777777;
  letter-spacing: .6px; }

#sign-up tr > td:first-child {
  width: 20%; }

#sign-up td {
  padding: 5px 0; }

#sign-up .container {
  width: 62%; }

#sign-up .img {
  margin-bottom: 10px; }

#sign-up .featrue {
  background: #FFF;
  border-radius: 7px; }
  #sign-up .featrue p {
    font-size: 12px;
    letter-spacing: .3px; }
  #sign-up .featrue label {
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 0.6px;
    font-weight: normal;
    color: #0095FF; }
  #sign-up .featrue .inner {
    padding: 30px; }

#sign-up .group-form {
  background: #FFF;
  border-radius: 7px;
  box-shadow: 0 2px 15px 2px rgba(203, 209, 214, 0.3); }

#sign-up .inner-form {
  width: 620px;
  max-width: 90%;
  margin: auto;
  padding: 40px 0 60px; }

#sign-up .input-group {
  padding: 12px; }
  #sign-up .input-group input {
    border: none; }

#sign-up .nice-check + label {
  margin-bottom: 10px;
  font-size: 16px; }

#sign-up .left, #sign-up .right {
  width: 48%; }

#sign-up .left {
  margin-right: 2%; }

#sign-up .right {
  margin-left: 2%; }

.select-featrue {
  width: 100%;
  float: none;
  padding: 10px;
  height: 52px; }

@media (min-width: 1200px) {
  #sign-up .container.container-sm {
    width: 810px; } }

@media (min-width: 1600px) {
  #sign-up .featrue p {
    font-size: 20px; }
  #sign-up .featrue .right-table {
    padding: 30px 30px 140px; } }

@media (max-width: 992px) {
  #sign-up h2 {
    text-align: left; }
  #sign-up .container, #sign-up .inner-form, #sign-up .left, #sign-up .right {
    width: 100%; }
  #sign-up .right {
    margin: 0; } }
