.nice-select
	&:active,
	&:focus
		border-color: $blue
	.option
		&:hover,
		&:focus,
		&:visited,
			background-image: linear-gradient(104deg, #01d47e, #0095ff)
	.option.selected.focus
			background-image: linear-gradient(104deg, #01d47e, #0095ff)
