input, select, button
	&:focus
		outline: none !important

.nice-select
	&:active,
	&:focus
		border-color: $blue
	&:after
		width: 10px
		height: 10px
		right: 5%
		margin-top: -7px
	.list
		width: 100%
		border-radius: 25px
		li 
			padding: 0 15px
			color: $light-gray
			font-size: 14px
	
	.option
		&:hover,
		&:focus,
		&:visited,
			background-image: linear-gradient(100deg, rgba(1, 212, 126, 0.3), rgba(0, 149, 255, 0.3))
	.option.selected
		font-weight: normal
		background-image: linear-gradient(100deg, rgba(1, 212, 126, 0.3), rgba(0, 149, 255, 0.3))
.nice-selec
	.option.disabled
		background: transparent
		color: $disable

// Form
.form-group
	margin-bottom: 30px

.character-input
	border-radius: 25px
	box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.1)
	border: solid 1px $gray-input
	padding: 10px 20px
	height: 52px
	position: relative
	&.select-featrue
		padding: 5px 20px

.form-item
	&.error-mark
		@include bgImage('../images/icon/icon-dissable.png', right 15px top 13px, 24px 24px)
	.form-control
		background-color: transparent
// Buttons
.btn-active
	border: 1px solid $blue

.btn
	border: 1px solid $white
	border-radius: 18px
	font-size: $font-size
	line-height: 1
	height: 35px
	color: $white
	padding: 9px 24px
	@include transition

.btn-next
	padding-right: 50px
	position: relative
	&:after
		content: ''
		width: 21px
		height: 13px
		position: absolute
		right: 15px
		top: 10px
		@include transition

.btn-info
	color: #fff
	background-color: $color-info
	border-color: $color-info
	&.btn-next:after
		@include bgImage('../images/icon/icon-next.png', center, 100% 100%)
	&:hover,
	&:active,
	&:active:hover,
	&:focus
		background-color: $color-info-darker
		border-color: $color-info-darker

.btn-white
	color: $white
	border: 1px solid $white
	background-color: transparent
	&.btn-next:after
		@include bgImage('../images/icon/icon-next.png', center, 100% 100%)
	&:hover,
	&:active,
	&:active:hover,
	&:focus
		background-color: $white
		color: $color-primary
		&:after
			@include bgImage('../images/icon/icon-next-blue.png', center, 100% 100%)

.btn-main 
	color: $blue
	position: relative
	border: 1px solid $blue
	transition: all .2s
	box-sizing: border-box
	background-color: transparent
	&.btn-next:after
		@include bgImage('../images/icon/icon-next-blue.png', center, 100% 100%)
	&:hover,
	&:active,
	&:active:hover,
	&:focus
		background: linear-gradient(115deg, #01d47e, #0095ff)
		color: #fff
		border-color: transparent
		&:after
			@include bgImage('../images/icon/icon-next.png', center, 100% 100%)

.btn-main.btn-disables
	color: $disable
	border: 1px solid $disable
	position: relative
	background-color: $white
	cursor: not-allowed
	&.btn-next:after
		@include bgImage('../images/icon/icon-next-gray.png', center, 100% 100%)
	&:hover,
	&:active,
	&:active:hover,
	&:focus
		background: none
		background-color: $white !important
		border: 1px solid $disable
		color: $disable
	// &:after
	// 	content: ''
	// 	width: 100%
	// 	top: 0
	// 	bottom: 0
	// 	left: 0
	// 	right: 0
	// 	z-index: 99

.btn-info-bordered
	color: $blue
	position: relative
	margin-top: 30px
	border: 1px solid $blue
	transition: all .2s
	box-sizing: border-box
	&.btn-next:after
		@include bgImage('../images/icon/icon-next-blue.png', center, 100% 100%)
	&:hover,
	&:active,
	&:active:hover,
	&:focus
		background: $color-info
		color: #fff
		border-color: transparent
		&:after
			@include bgImage('../images/icon/icon-next.png', center, 100% 100%)

textarea.form-control
	max-width: 100%
	width: 100% !important


// Tel Input
.intl-tel-input.allow-dropdown
	@extend .form-control, .character-input
	display: block
	.flag-container:focus,
	.selected-flag:focus
		outline: none !important
	.flag-container:hover .selected-flag
		background-color: transparent
	.selected-flag
		left: 12px
	input
		padding: 0 20px
		border: none
		line-height: 2.2
		height: auto
	.country-list
		width: 300px

		span
			font-size: 12px