// Color set
$green: #2ccda2
$lightGreen: #e2f3ed
$blue: #0095ff
$darkBlue: #1b2536
$blackBlue: #202D39

$cyan: #0095FF
$darkCyan: #0E89E0
$blueSky: #e5F4FF
$red: #FC665C
$oranges: #FF8303
$green2: #07dea6

$gradient: linear-gradient(to right, #0095ff, #07dea6)

$light-gray: #424242
$gray: #555555
$dark-gray: #777777
$gray-input: #e0e0e0
$white: #FFF
$disable: #999999

$hover-lead-img: #0E89E0

$color-default: $dark-gray
$color-primary: $blue
$color-secondary: $darkBlue
$color-info: $cyan
$color-info-darker: $darkCyan

$color-success: $green

$color-warning: $oranges

$color-danger: $red

$color-menu: #f5f5f5

$navHeight: 75px
$navHeightMobile: 53px
$height: 100px

$mobileSpace: 10px

$formRadius: 5px
$formHeight: 30px
$btnHeight: 35px
//Font
$font-size: 16px
// $font-cormorant: 'Cormorant Garamond', serif
// $font-worksans: 'Work Sans', sans-serif
$font-roboto: 'Roboto', sans-serif
$font-noto: 'Noto Serif', sans-serif
$font-rubik: 'Rubik', sans-serif
//common variables
