#company h2 {
  margin-top: 0; }

#company tr > td:first-child {
  width: 20%; }

#company tr td {
  padding: 5px;
  font-size: 13px; }

#company .featrue {
  padding: 10px;
  border: 1px solid #0099ff;
  border-radius: 7px;
  margin-bottom: 20px; }

#company .text-link:hover, #company .text-link:hover:active, #company .text-link:active, #company .text-link:focus {
  text-decoration: underline;
  color: #0099ff; }
